body {
    font-family: Arial;
    background: #f4f6f8;
}

.quiz {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

.question {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
}